@{
    ViewBag.Title = @MarketSite.App_GlobalResources.Resource.ContactUS;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    @MarketSite.App_GlobalResources.Resource.Address<br />
    <abbr title="Phone">P:</abbr>
    04-25261188
</address>

<address>
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>